# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDEs
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/app/local.properties

# iOS / CocoaPods
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace
ios/Flutter/Generated.xcconfig

# Xcode
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata

# Mac / Linux / Windows
*.log
.DS_Store

# env
.env
*.keystore

